.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media screen and (min-width: 300px), 
       screen and (max-width: 600px) {
    
} */

@media (min-width: 300px) and (max-width: 600px) {   
  .icon {
    padding-right: 15%;
  }
} 
/* SECTIONS ANIMATION **/

.home-section,
.about-section,
.education-section,
.experience-section,
.skill-section,
.achievement-section,
.contact-section {
  animation: fadeInUp 5s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/* SECTIONS ANIMATION END **/

/* SROLL BUTTON **/

.sc-dlniIP.cWWgvq {
  padding-left: 12%;
}

/* SROLL BUTTON END **/

/* SECTIONS ICONS **/

.icon {
  color: white;
  float: left;
  margin-top: 3%;
  margin-left: 15%;
  border: 1px solid #cdc0c0;
  border-radius: 30px 30px 30px 30px;
  padding-right: 7%;
  padding-top: 10px;
}

.icon:hover {
  color: #61CE70;
}

.icon-text {
  margin-left: 64%;
  margin-top: -24%;
  text-transform: uppercase;
  font-size: 15px;
}

.icon-about {
  color: white;
  float: left;
  margin-top: -12%;
  margin-left: 15%;
  border: 1px solid #cdc0c0;
  border-radius: 30px 30px 30px 30px;
  padding-right: 7%;
  padding-top: 10px;
  padding-left: 2%;
}

.icon-about:hover {
  color: #61CE70;
}

.icon-text-about {
  margin-left: 75%;
  margin-top: -40%;
  text-transform: uppercase;
  font-size: 15px;
}

.icon-edu {
  color: white;
  float: left;
  margin-top: -12%;
  margin-left: 15%;
  border: 1px solid #cdc0c0;
  border-radius: 30px 30px 30px 30px;
  padding-right: 7%;
  padding-top: 10px;
}

.icon-edu:hover {
  color: #61CE70;
}

.icon-text-edu {
  margin-left: 67%;
  margin-top: -27%;
  text-transform: uppercase;
  font-size: 15px;
}

.icon-skill {
  color: white;
  float: left;
  margin-top: -12%;
  margin-left: 15%;
  border: 1px solid #cdc0c0;
  border-radius: 30px 30px 30px 30px;
  padding-right: 7%;
  padding-top: 10px;
  padding-left: 2%;
}

.icon-skill:hover {
  color: #61CE70;
}

.icon-text-skill {
  margin-left: 85%;
  margin-top: -46%;
  text-transform: uppercase;
  font-size: 15px;
}

.icon-achieve {
  color: white;
  float: left;
  margin-top: -12%;
  margin-left: 15%;
  border: 1px solid #cdc0c0;
  border-radius: 30px 30px 30px 30px;
  padding-right: 8%;
  padding-top: 7px;
}

.icon-achieve:hover {
  color: #61CE70;
}

.icon-text-achieve {
  margin-left: 60%;
  margin-top: -20%;
  text-transform: uppercase;
  font-size: 15px;
}

.icon-text-contact {
  margin-left: 67%;
  margin-top: -32%;
  text-transform: uppercase;
  font-size: 15px;
}

/* SECTIONS ICONS END **/

/* HEADER **/

.element-widget-container {
  margin: 0px 0px 0px 0px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #575757;
  border-radius: 30px 30px 30px 30px;
  float: inline-end;
  margin-top: 10%;
  width: fit-content;
  position: fixed;
  overflow-y: hidden;
  margin-left: 80%;

}

ul.element-icon-list-items {
  list-style-type: none;
  margin-right: 12px;
  margin-left: -30%;
  margin-top: 30px;
  margin-bottom: 30px;
}

li.element-icon-list-item a {
  color:#28E98C;
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 1px;
}

li.element-icon-list-item a:hover {
  color: white;
}






/* .header-side {
  color: #198754;
  font-weight: 500;
  margin-right: 10%;
}

.navbar.navbar-expand-lg.navbar-light {
  background-color: white;
} */

.section {
  background-color: #282c34;
  /* max-width: 100%; */
}

.bg-light {
  background-color: unset !important;
}

/* .nav-item {
  padding-right: 20px;
}

.nav-item a.nav-link {
  border: 1px solid transparent;
  transition: border-color 0.3s;
  border-color: green;
  border-radius: .25rem;
  padding: 5px 5px;
  text-transform: uppercase;
  color: green;
}

.nav-item a.nav-link:hover {
  background-color: green;
  color: white;
}

.navbar.navbar-expand-lg.navbar-light.bg-light h2 {
  padding-right: 20px;
  font-weight: 600;
} */

/* HEADER END **/

/* HOME SECTION */
.home {
  padding-bottom: 8%;
}

.heading-home h2 {
  font-size: 50px;
  font-weight: 600;
  padding-top: 10%;
  padding-bottom: 5%;
  text-transform: uppercase;
}

.heading-home p {
  color: #5FE666;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 20%;
}

.content-home p {
  color: #FFFFFFCC;
  font-size: 20px;
  font-weight: 400;
  padding-top: 50px;
  padding-bottom: 15%;
  margin: 0 20%;
  text-align: justify;

}

/* HOME SECTION END */

/* ABOUT SECTION */

.about {
  padding-bottom: 15%;
}

.heading-about H2 {
  color: #FFFFFF;
  font-family: "Roboto", Sans-serif;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 5%;
  text-transform: uppercase;
}

.content-about P {
  color: #FFFFFFCC;
  font-size: 20px;
  text-align-last: left;
  padding-bottom: 30px;
  margin: 0 15%;
  text-align: justify;
}

/* ABOUT SECTION END */

/* EDUCATION SECTION */

.education {
  padding-bottom: 15%;
}

.heading-education h2 {
  color: #FFFFFFCC;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.heading-education p {
  color: #FFFFFFCC;
  font-size: 20px;
  padding-bottom: 30px;
  padding-right: 10%;
}

.content-education h2 {
  color: #5FE666;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.content-education span {
  color: #5FE666;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 33%;
}

.content-education p {
  color: #FFFFFFCC;
  font-size: 20px;
  padding-top: 40px;
}

/* EDUCATION SECTION END*/

/* EXPERIENCE SECTION */

.heading-experience h2 {
  color: #FFFFFFCC;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.ex1-heading h2 {
  color: #5FE666;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1em;
}

.ex1-content p {
  color: #FFFFFFCC;
  font-size: 20px;
}

.ex2-heading h2 {
  color: #5FE666;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1em;
}

.ex2-content p {
  color: #FFFFFFCC;
  font-size: 20px;
}

.ex3-heading h2 {
  color: #5FE666;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1em;
}

.ex3-content p {
  color: #FFFFFFCC;
  font-size: 20px;
}

.ex1 {
  border: 1px solid;
  border-radius: 20px;
  text-align: left;
  width: 70%;
  align-items: flex-start;
  margin: 25px auto;
  padding: 20px 30px;
}

.ex1:hover {
  border-color: #95F199;
}

.ex2 {
  border: 1px solid;
  border-radius: 20px;
  text-align: left;
  width: 70%;
  align-items: flex-start;
  margin: 25px auto;
  padding: 20px 30px;
}

.ex2:hover {
  border-color: #95F199;
}

.ex3 {
  border: 1px solid;
  border-radius: 20px;
  text-align: left;
  width: 70%;
  align-items: flex-start;
  margin: 25px auto;
  padding: 20px 30px;
}

.ex3:hover {
  border-color: #95F199;
}

.experience {
  padding-bottom: 15%;
}

/* EXPERIENCE SECTION END */

/* SKILLS SECTION */

.accordian-content {
  width: 80%;
  align-content: first baseline;
  margin: 0 15%;
}

.accordion-header button {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
}

.accordion-header button:hover {
  background-color: #5FE666;
  text-decoration: none;
}

.acc-list p {
  text-align: justify;
}

.acc-list p:hover {
  color: #5FE666;
}

.skills {
  padding-bottom: 15%;
}

/* SKILLS SECTION END*/

/* ACHIEVEMENTS SECTION */

.heading-achievements h2 {
  color: #FFFFFFCC;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.col {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #88ECA7;
  border-radius: 5px 5px 5px 5px;
  margin: 20px;
  padding: 20px;
}

button.btn.btn-book-btn {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  background-color: #198754;
  padding: 10px;
  border: 1px solid #198754;
  border-radius: 15px;
}

button.btn.btn-book-btn:hover {
  background-color: transparent;
}

.btn.btn-c-btn a {
  color: white;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  background-color: #198754;
  border: 1px solid #198754;
  border-radius: 15px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn.btn-c-btn a:hover {
  background-color: transparent;
}

.button h2 {
  color: #FFFFFFCC;
}

.button p {
  color: #FFFFFFCC;
  font-size: 20px;
}

.achievements {
  padding-bottom: 15%;
}

/* ACHIEVEMENTS SECTION END */

/* CONTACT SECTION */
.heading-contact h2 {
  color: #FFFFFFCC;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.contact-details {
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact-details p {
  text-align: justify;
  align-items: center;
  margin-left: 30%;
  color: #FFFFFFCC;
  font-size: 20px;
}

.contact {
  padding-bottom: 10%;
}

/* CONTACT SECTION END*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}